* {
  margin: 0;
  padding: 0; }

body {
  font-family: Lato;
  font-style: normal; }

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px; }

.page_head {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  height: 75px;
  background-color: #222222;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 2; }
.page_head .container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.page_head_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.page_head_item .logo {
  margin-right: 41px; }
.page_head_item .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.page_head_item .search_input {
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  -webkit-transition: width 1s ease;
  transition: width 1s ease; }
.page_head_item .search_input:focus {
  width: 150px;
  min-height: 20px;
  height: 100%;
  border: 2px solid #fff;
  margin-right: 10px; }
.page_head_item .search_label {
  cursor: pointer; }
.page_head_item .search_label svg {
  fill: #E8E8E8; }
.page_head_item .search_label svg:hover {
  fill: #6F6E6E; }
.page_head_item .menu_list {
  position: absolute;
  top: 75px;
  right: 0;
  background: #FFFFFF;
  min-width: 230px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 0;
  opacity: 1;
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .2s;
          transition-delay: .2s;
  overflow: hidden; }
.page_head_item .menu_list .wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px 16px 16px 34px; }
.page_head_item .menu_list_close {
  -ms-flex-item-align: end;
      align-self: flex-end;
  cursor: pointer; }
.page_head_item .menu_list_close svg {
  fill: #6F6E6E; }
.page_head_item .menu_list_close svg:hover {
  fill: #222222; }
.page_head_item .menu_list_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 24px; }
.page_head_item .menu_list_subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  padding-bottom: 12px;
  cursor: pointer;
  text-decoration: none; }
.page_head_item .menu_list_subtitle:hover {
  font-weight: 700; }
.page_head_item .menu_list_items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 0 10px 20px; }
.page_head_item .menu_list_items_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none; }
.page_head_item .menu_list_items_text:hover {
  font-weight: 700; }
.page_head_item .menu_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
  margin: 0;
  width: 32px;
  height: 23px;
  border: none;
  background-color: transparent;
  cursor: pointer; }
.page_head_item .menu_btn_checkbox {
  display: none; }
.page_head_item .menu_btn_checkbox:checked ~ .menu_list {
  height: 764px; }
.page_head_item .menu_btn_item {
  margin: auto;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #E8E8E8;
  position: relative; }
.page_head_item .menu_btn_item::before, .page_head_item .menu_btn_item::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #E8E8E8;
  position: absolute;
  left: 0; }
.page_head_item .menu_btn_item::before {
  top: -10px; }
.page_head_item .menu_btn_item::after {
  top: 10px; }
.page_head_item .menu_btn:hover .menu_btn_item {
  background-color: #6F6E6E; }
.page_head_item .menu_btn:hover .menu_btn_item::before, .page_head_item .menu_btn:hover .menu_btn_item::after {
  background-color: #6F6E6E; }
.page_head_item .menu_item {
  cursor: pointer;
  margin-left: 33px;
  fill: #E8E8E8; }
.page_head_item .menu_item:hover {
  fill: #6F6E6E; }

.brand {
  background-color: #F1E4E6; }
.brand .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
.brand_img {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }
.brand_text {
  position: relative;
  width: 50%;
  margin-left: 90px;
  text-transform: uppercase;
  color: #222222; }
.brand_text:before {
  position: absolute;
  top: 0;
  left: -28px;
  content: '';
  display: block;
  width: 12px;
  height: 100%;
  background-color: #F16D7F; }
.brand_title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px; }
.brand_subtitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px; }
.brand_subtitle_red {
  color: #F16D7F; }

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-top: 65px; }
.offer_item {
  position: relative;
  background-color: rgba(33, 22, 22, 0.7);
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
.offer_item:last-child {
  -webkit-box-flex: 3;
      -ms-flex-positive: 3;
          flex-grow: 3; }
.offer_item_img {
  position: relative;
  z-index: -1;
  width: 100%; }
.offer_item_text {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase; }
.offer_item_text_top {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF; }
.offer_item_text_bottom {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F; }

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 96px; }
.products_title {
  font-weight: 400;
  text-align: center; }
.products_title h1 {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-transform: capitalize; }
.products_title span {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F; }
.products_wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 48px 0; }
.products_wrp.product_page {
  padding: 32px 0 128px; }
.products_item {
  max-width: calc((100% - 60px) / 3);
  list-style: none; }
.products_item article {
  background-color: #F8F8F8; }
.products_item_card {
  text-decoration: none; }
.products_item_card:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2); }
.products_item img {
  width: 100%;
  display: block;
  -webkit-transition: 1s;
  transition: 1s; }
.products_item_img {
  position: relative;
  display: inline-block;
  overflow: hidden; }
.products_item_add {
  display: none;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF; }
.products_item_add svg {
  margin-right: 10px; }
.products_item:hover img {
  -webkit-filter: brightness(30%);
          filter: brightness(30%); }
.products_item:hover .products_item_add {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1; }
.products_item_text {
  padding: 25px 18px 20px;
  text-align: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
.products_item_text_title {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 13px; }
.products_item_text_description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px; }
.products_item_text_price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F; }
.products_btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #FF6A6A;
  padding: 14px 38px;
  margin-bottom: 95px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  text-transform: capitalize;
  text-decoration: none; }
.products_btn:hover {
  background-color: #F16D7F;
  color: #FFFFFF; }

.features {
  padding: 104px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #222224; }
.features .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px; }
.features_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 360px; }
.features_item:hover svg {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg); }
.features_item svg {
  -webkit-transition: 1s;
  transition: 1s; }
.features_item_title {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  text-align: center;
  color: #FBFBFB;
  margin: 28px 0 16px; }
.features_item_subtitle {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB; }

.footer_subscription {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(244, 244, 244, 0.7)), to(rgba(244, 244, 244, 0.7))), url(../images/subscription.jpg);
  background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(../images/subscription.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 97px 0 126px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
.footer_subscription .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
.footer_subscription_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
.footer_subscription .subscribe_info_txt {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  max-width: 360px;
  margin-top: 30px; }
.footer_subscription .subscribe_info_txt span {
  font-style: italic; }
.footer_subscription .subscribing {
  margin-right: 80px; }
.footer_subscription .subscribing_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
  text-transform: uppercase; }
.footer_subscription .subscribing_subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
  text-transform: uppercase; }
.footer_subscription .subscribing_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 49px;
  margin-top: 30px; }
.footer_subscription .subscribing_form_email {
  background-color: #E1E1E1;
  border-radius: 22px 0 0 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #222224;
  border: none;
  padding: 0 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
.footer_subscription .subscribing_form_btn {
  background: #F16D7F;
  border-radius: 0 22px 22px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #FFFFFF;
  border: none;
  padding: 0 22px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
.footer_bottom {
  background-color: #222224;
  padding: 24px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
.footer_bottom .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.footer_bottom .copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB; }
.footer_bottom .socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px; }
.footer_bottom .socials_item {
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
.footer_bottom .socials_item svg {
  fill: #000000;
  -webkit-transition: 1s;
  transition: 1s; }
.footer_bottom .socials_item:hover {
  background-color: #F16D7F; }
.footer_bottom .socials_item:hover svg {
  fill: #FFFFFF;
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg); }

.page_top {
  background: #F8F3F4;
  padding: 60px 0; }
.page_top .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.page_top_caption {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase; }

.breadcrumbs {
  list-style: none; }
.breadcrumbs li {
  display: inline;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase; }
.breadcrumbs li + li:before {
  padding: 4px;
  color: #636363;
  content: "/\00a0"; }
.breadcrumbs li a {
  font-weight: 300;
  color: #636363;
  text-decoration: none; }
.breadcrumbs li a:hover {
  font-weight: 700; }

.filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%; }
.filters .filter {
  min-width: 360px;
  padding: 13px 16px;
  background-color: #FFFFFF;
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }
.filters .filter_btn {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase; }
.filters .filter_btn svg {
  margin-left: 11px;
  fill: #000000; }
.filters .filter_btn_checkbox {
  display: none; }
.filters .filter_btn_checkbox:checked ~ .filter {
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21); }
.filters .filter_btn_checkbox:checked ~ .filter .filter_btn {
  color: #EF5B70; }
.filters .filter_btn_checkbox:checked ~ .filter .filter_btn svg {
  fill: #EF5B70; }
.filters .filter_btn_checkbox:checked ~ .filter .filter_options {
  display: block; }
.filters .filter_options {
  display: none;
  position: absolute;
  width: 100%;
  left: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 16px 17px 0;
  z-index: 1;
  background-color: #FFFFFF; }
.filters .filter_options_details {
  margin-bottom: 18px; }
.filters .filter_options_title {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
  text-transform: uppercase;
  list-style: none;
  border-bottom: 1px solid #EBEBEB;
  padding: 11px;
  cursor: pointer; }
.filters .filter_options_title:before {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  display: block;
  width: 5px;
  height: 100%;
  background-color: #F16D7F; }
.filters .filter_options_title:hover {
  font-weight: 700; }
.filters .filter_options_subtitle {
  padding: 11px 16px 0 16px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: capitalize;
  cursor: pointer; }
.filters .filter_options_subtitle:hover {
  font-weight: 700; }
.filters_dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2; }
.filters_dropdown_item {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  text-transform: uppercase;
  padding: 13px 0 13px 30px;
  position: relative; }
.filters_dropdown_item_btn svg {
  margin-left: 10px;
  fill: #6F6E6E; }
.filters_dropdown_item_btn_checkbox {
  display: none; }
.filters_dropdown_item_btn_checkbox:checked ~ .filters_dropdown_item_options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
.filters_dropdown_item_options {
  display: none;
  position: absolute;
  background-color: #FFFFFF;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  padding: 9px;
  z-index: 1; }
.filters_dropdown_item_options_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #6F6E6E; }
.filters_dropdown_item_options_item:before {
  content: '';
  display: block;
  width: 13px;
  height: 13px;
  border: 1px solid #EBEBEB;
  margin-right: 9px; }
.filters_dropdown_item_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 9px; }
.filters_dropdown_item_option:last-child {
  margin-bottom: 0; }
.filters_dropdown_item_option input {
  display: none; }
.filters_dropdown_item_option input:checked ~ .filters_dropdown_item_options_item:before {
  background-image: url(https://w7.pngwing.com/pngs/289/793/png-transparent-check-mark-scalable-graphics-computer-icons-pink-check-mark-purple-angle-violet-thumbnail.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.pagination {
  display: inline-block;
  margin-bottom: 96px;
  border: 1px solid #EBEBEB;
  border-radius: 3px; }
.pagination a {
  color: #C4C4C4;
  float: left;
  padding: 12px;
  text-decoration: none;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px; }
.pagination a:first-child, .pagination a:last-child {
  color: #000000; }
.pagination a.active {
  color: #EF5B70; }
.pagination a:hover:not(.active) {
  font-weight: 700; }

.product_gallery {
  background-color: #F7F7F7;
  border: 1px solid #EAEAEA;
  height: 777px; }
.product_gallery .carousel-inner .carousel-item {
  height: 724px; }
.product_gallery .carousel-inner .carousel-item img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto; }
.product_gallery .carousel-inner .carousel-item.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.product_gallery .carousel-control {
  width: 47px;
  height: 47px;
  background: rgba(42, 42, 42, 0.15);
  margin: auto;
  opacity: 1; }
.product_card {
  padding: 65px 20px;
  background-color: #FFFFFF;
  border: 1px solid #EAEAEA;
  -webkit-transform: translateY(-65px);
          transform: translateY(-65px); }
.product_card_content {
  max-width: 640px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
.product_card_subtitle {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase; }
.product_card_subtitle:after {
  content: '';
  width: 64px;
  height: 3px;
  background: #EF5B70;
  margin: 12px auto;
  display: block; }
.product_card_title {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  text-transform: uppercase;
  margin-bottom: 48px; }
.product_card_description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  margin-bottom: 32px; }
.product_card_price {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #EF5B70;
  margin-bottom: 64px; }
.product_card hr {
  width: 100%;
  margin-bottom: 64px;
  border: 1px solid #EAEAEA; }
.product_card_btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 20px;
  border: 1px solid #FF6A6A;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  margin-top: 48px; }
.product_card_btn svg {
  fill: #EF5B70;
  margin-right: 20px; }
.product_card_btn:hover {
  background-color: #FF6A6A;
  border: 1px solid transparent;
  color: #FFFFFF; }
.product_card_btn:hover svg {
  fill: #FFFFFF; }

.cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 128px;
  padding: 96px 0 128px; }
.cart_info_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 72px; }
.cart_info_btn {
  background-color: #FFFFFF;
  border: 1px solid #A4A4A4;
  padding: 16px 40px;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase; }
.cart_info_btn:hover {
  background-color: #D2D2D2; }
.cart_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 40px; }
.cart_products_card {
  -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
.cart_products_card img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 40%; }
.cart_products_card_info {
  position: relative;
  width: 100%;
  padding: 22px 30px; }
.cart_products_card_info_delete {
  background-color: transparent;
  border: none;
  position: absolute;
  top: 28px;
  right: 22px; }
.cart_products_card_info_delete:hover svg {
  fill: #F26376; }
.cart_products_card_title {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 42px; }
.cart_products_card_parameter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  text-transform: capitalize; }
.cart_products_card_parameter span {
  margin-left: 8px; }
.cart_products_card_parameter .price {
  color: #EF5B70; }
.cart_products_card_parameter .value {
  color: #6F6E6E; }
.cart_products_card_parameter .input {
  width: 44px;
  margin-left: 24px;
  border: 1px solid #EAEAEA;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  text-align: center; }
.cart_order {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }
.cart_order_total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F5F3F3;
  padding: 40px 44px;
  margin-top: 57px; }
.cart_order_total_sub {
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-transform: uppercase;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 12px; }
.cart_order_total_grand {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  text-transform: uppercase;
  -ms-flex-item-align: end;
      align-self: flex-end; }
.cart_order_total_grand .price {
  color: #F16D7F; }
.cart_order_total .price {
  margin-right: 24px; }
.cart_order_total hr {
  border: 1px solid #E2E2E2; }
.cart_order_total_btn {
  border: none;
  background-color: #F16D7F;
  padding: 15px 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  text-transform: uppercase; }
.cart_order_total_btn:hover {
  background-color: #FFFFFF;
  border: 1px solid #F16D7F;
  color: #F16D7F; }

.form {
  min-width: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px; }
.form_title {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222; }
.form_title.uppercase {
  text-transform: uppercase; }
.form input {
  border: 1px solid #A4A4A4;
  padding: 12px 16px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  text-transform: capitalize; }
.form input::-webkit-input-placeholder {
  color: #222222; }
.form input:-ms-input-placeholder {
  color: #222222; }
.form input::-ms-input-placeholder {
  color: #222222; }
.form input::placeholder {
  color: #222222; }
.form input.registration {
  color: #222222; }
.form input.registration::-webkit-input-placeholder {
  color: #B1B1B1; }
.form input.registration:-ms-input-placeholder {
  color: #B1B1B1; }
.form input.registration::-ms-input-placeholder {
  color: #B1B1B1; }
.form input.registration::placeholder {
  color: #B1B1B1; }
.form_radios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px; }
.form_radio_input {
  display: none; }
.form_radio_input:checked ~ .form_radio_item:before {
  background-color: #F16D7F;
  border: 2px solid #FFFFFF; }
.form_radio_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
  text-transform: capitalize; }
.form_radio_item:before {
  content: '';
  display: block;
  width: 17px;
  height: 17px;
  outline: 1px solid #A4A4A4;
  border-radius: 50%; }
.form_caption {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  margin-top: -5px;
  margin-bottom: 19px; }
.form_button_light {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #FFFFFF;
  border: 1px solid #A4A4A4;
  padding: 10px 14px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  text-transform: uppercase; }
.form_button_light:hover {
  background-color: #d2d2d2; }
.form_button_color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #F16D7F;
  padding: 16px 29px;
  border: none;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  text-transform: uppercase; }
.form_button_color svg {
  fill: #FFFFFF; }
.form_button_color:hover {
  background-color: #FFFFFF;
  border: 1px solid #F16D7F;
  color: #F16D7F; }
.form_button_color:hover svg {
  fill: #F16D7F; }

.registration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 64px 0 96px; }
.registration_info {
  max-width: 652px;
  margin-left: 22px; }
.registration_info_title {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 22px; }
.registration_info_description {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 21px; }
.registration_info_list {
  padding: 0; }
.registration_info_list_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 16px; }
.registration_info_list_item:before {
  display: block;
  margin-right: 22px;
  content: url(../images/check.svg); }

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

  .page_head {
    height: 74px; }
  .page_head .container {
    padding: 0 32px; }

  .brand_img img {
    width: 100%; }
  .brand_text {
    margin-left: 0; }
  .brand_title {
    font-size: 44px;
    line-height: 53px; }
  .brand_subtitle {
    font-size: 24px;
    line-height: 29px; }

  .offer {
    gap: 19px;
    padding-top: 19px; }
  .offer_item {
    max-width: 232px; }
  .offer_item:last-child {
    max-width: none; }

  .products {
    padding-top: 154px; }
  .products_wrp {
    gap: 16px;
    padding: 72px 0 32px; }
  .products_wrp.product_page {
    padding: 129px 0 128px; }
  .products_item {
    max-width: calc((100% - 16px) / 2); }
  .products_item_text {
    padding: 25px 16px 20px; }
  .products_btn {
    margin-bottom: 64px; }

  .features {
    padding: 48px 0 64px; }
  .features .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 48px; }

  .footer_subscription {
    padding: 64px 0 140px;
    background-position: 25%; }
  .footer_subscription .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .footer_subscription .subscribe_info {
    margin-bottom: 48px; }
  .footer_subscription .subscribing {
    margin-right: 0; }
  .footer_subscription .subscribing_form {
    margin-top: 27px; }

  .registration {
    padding: 40px 16px 96px; }
  .registration_info_title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 32px; }
  .registration_info_description {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 22px; }
  .registration_info_list_item {
    font-size: 16px;
    line-height: 19px; }
  .registration_info_list_item:before {
    margin-right: 23px; }

  .cart {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 64px;
    padding: 59px 16px 128px; }
  .cart_info_btns {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 48px;
    margin-top: 62px; }
  .cart_order {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 15px; }
  .cart_order .form {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
  .cart_order_total {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-top: 0;
    height: 100%; } }
@media (max-width: 375px) {
  .registration_icon, .cart_icon {
    display: none; }

  .page_head .container {
    padding: 0 16px; }

  .brand .container {
    padding: 148px 0; }
  .brand_img {
    display: none; }
  .brand_title {
    font-size: 38px;
    line-height: 46px; }
  .brand_subtitle {
    font-size: 20px;
    line-height: 24px; }

  .offer {
    gap: 32px;
    padding-top: 64px; }
  .offer_item {
    max-width: none; }
  .offer_item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }

  .products {
    padding-top: 64px; }
  .products_wrp {
    gap: 15px;
    padding: 64px 0 40px; }
  .products_wrp.product_page {
    padding: 64px 0 64px; }
  .products_item {
    max-width: 100%; }
  .products_btn {
    margin-bottom: 96px; }

  .features {
    padding: 48px 0 81px; }
  .features .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 46px; }

  .footer_subscription {
    padding: 64px 0 109px;
    background-position: 30%; }
  .footer_subscription .subscribe_info_txt {
    font-size: 18px;
    line-height: 22px; }
  .footer_subscription .subscribing_subtitle {
    font-size: 14px;
    line-height: 21px; }
  .footer_subscription .subscribing_form {
    height: 47px;
    margin-top: 22px; }
  .footer_bottom {
    padding: 43px 0 9px; }
  .footer_bottom .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse; }
  .footer_bottom .socials {
    margin-bottom: 40px; }

  .registration {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 40px 9px 96px; }
  .registration_info {
    margin-left: 0;
    margin-top: 40px; }

  .cart {
    gap: 48px;
    padding: 40px 9px 96px; }
  .cart_info_btns {
    margin-top: 30px;
    gap: 30px; }
  .cart_info_btn {
    padding: 8px 16px;
    font-size: 12px;
    line-height: 14px;
    text-transform: none; }
  .cart_products {
    gap: 32px; }
  .cart_products_card {
    -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
            filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    background-color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
  .cart_products_card_info {
    padding: 13px 17px; }
  .cart_products_card_info_delete {
    top: 17px;
    right: 12px; }
  .cart_products_card_title {
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px; }
  .cart_products_card_parameter {
    font-size: 14px;
    line-height: 17px; }
  .cart_products_card_parameter .input {
    width: 24px;
    margin-left: 24px;
    font-size: 10px;
    line-height: 12px; }
  .cart_order {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .cart_order_total {
    padding: 39px 34px;
    margin-top: 48px; } }
