* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 20px;
}

.page_head {
  position: sticky;
  top: 0;
  width: 100%;
  height: 75px;
  background-color: #222222;
  box-sizing: border-box;
  z-index: 2;

  .container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_item {
    display: flex;
    align-items: center;

    .logo {
      margin-right: 41px;
    }

    .search {
      display: flex;
      align-items: center;

      &_input {
        width: 0;
        min-height: 0;
        padding: 5px;
        outline: none;
        box-sizing: border-box;
        background-color: transparent;
        border: none;
        color: #fff;
        font-size: 16px;
        transition: width 1s ease;

        &:focus {
          width: 150px;
          min-height: 20px;
          height: 100%;
          border: 2px solid #fff;
          margin-right: 10px;
        }
      }

      &_label {
        cursor: pointer;

        svg {
          fill: #E8E8E8;

          &:hover {
            fill: #6F6E6E;
          }
        }
      }
    }

    .menu_list {
      position: absolute;
      top: 75px;
      right: 0;
      background: #FFFFFF;
      min-width: 230px;
      box-sizing: border-box;
      height: 0;
      opacity: 1;
      transition: .5s;
      transition-delay: .2s;
      overflow: hidden;

      .wrap {
        display: flex;
        flex-direction: column;
        padding: 16px 16px 16px 34px;
      }

      &_close {
        align-self: flex-end;
        cursor: pointer;

        svg {
          fill: #6F6E6E;
        }

        svg {
          &:hover {
            fill: #222222;
          }
        }
      }

      &_title {
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        color: #000000;
        text-transform: uppercase;
        padding-bottom: 24px;
      }

      &_subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #F16D7F;
        text-transform: uppercase;
        padding-bottom: 12px;
        cursor: pointer;
        text-decoration: none;

        &:hover {
          font-weight: 700;
        }
      }

      &_items {
        display: flex;
        flex-direction: column;
        padding: 0 0 10px 20px;

        &_text {
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: #6F6E6E;
          margin-bottom: 10px;
          cursor: pointer;
          text-decoration: none;

          &:hover {
            font-weight: 700;
          }
        }
      }
    }

    .menu_btn {
      display: flex;
      padding: 0;
      margin: 0;
      width: 32px;
      height: 23px;
      border: none;
      background-color: transparent;
      cursor: pointer;

      &_checkbox {
        display: none;

        &:checked ~ {
          .menu_list {
            height: 764px;
          }
        }
      }

      &_item {
        margin: auto;
        display: block;
        width: 100%;
        height: 3px;
        background-color: #E8E8E8;
        position: relative;

        &::before,
        &::after {
          content: "";
          display: block;
          width: 100%;
          height: 3px;
          background-color: #E8E8E8;
          position: absolute;
          left: 0;
        }

        &::before {
          top: -10px;
        }

        &::after {
          top: 10px;
        }
      }

      &:hover {
        .menu_btn_item {
          background-color: #6F6E6E;
        }

        .menu_btn_item::before,
        .menu_btn_item::after {
          background-color: #6F6E6E;
        }
      }
    }

    .menu_item {
      cursor: pointer;
      margin-left: 33px;
      fill: #E8E8E8;

      &:hover {
        fill: #6F6E6E;
      }
    }
  }
}

.brand {
  background-color: #F1E4E6;

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &_img {
    width: 50%;
    display: flex;
    justify-content: flex-end;
  }

  &_text {
    position: relative;
    width: 50%;
    margin-left: 90px;
    text-transform: uppercase;
    color: #222222;

    &:before {
      position: absolute;
      top: 0;
      left: -28px;
      content: '';
      display: block;
      width: 12px;
      height: 100%;
      background-color: #F16D7F;
    }
  }

  &_title {
    font-size: 48px;
    font-weight: 900;
    line-height: 58px;
  }

  &_subtitle {
    font-size: 32px;
    font-weight: 700;
    line-height: 38px;

    &_red {
      color: #F16D7F;
    }
  }
}

.offer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding-top: 65px;

  &_item {
    position: relative;
    background-color: rgba(33, 22, 22, 0.7);
    flex-grow: 1;

    &:last-child {
      flex-grow: 3;
    }

    &_img {
      position: relative;
      z-index: -1;
      width: 100%;
    }

    &_text {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      text-align: center;
      text-transform: uppercase;

      &_top {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
      }

      &_bottom {
        font-weight: 700;
        font-size: 24px;
        line-height: 29px;
        color: #F16D7F;
      }
    }
  }
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 96px;

  &_title {
    font-weight: 400;
    text-align: center;

    h1 {
      font-size: 30px;
      line-height: 36px;
      color: #222222;
      text-transform: capitalize;
    }

    span {
      font-size: 14px;
      line-height: 17px;
      color: #9F9F9F;
    }
  }

  &_wrp {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 48px 0;

    &.product_page {
      padding: 32px 0 128px;
    }
  }

  &_item {
    max-width: calc((100% - 60px) / 3);
    list-style: none;

    article {
      background-color: #F8F8F8;
    }
    &_card {
      text-decoration: none;
      &:hover {
        img {
          transform: scale(1.2);
        }
      }
    }

    img {
      width: 100%;
      display: block;
      transition: 1s;
    }

    &_img {
      position: relative;
      display: inline-block;
      overflow: hidden;
    }

    &_add {
      display: none;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      right: 0;
      margin: 0 auto;
      width: fit-content;
      align-items: center;
      padding: 10px 13px;
      box-sizing: border-box;

      background-color: transparent;

      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      border: 1px solid #FFFFFF;

      svg {
        margin-right: 10px;
      }
    }

    &:hover {
      img {
        filter: brightness(30%);
      }

      .products_item_add {
        display: flex;
        z-index: 1;
      }
    }

    &_text {
      padding: 25px 18px 20px;
      text-align: left;
      box-sizing: border-box;

      &_title {
        font-weight: 400;
        font-size: 13px;
        line-height: 16px;
        color: #000000;
        text-transform: uppercase;
        margin-bottom: 13px;
      }

      &_description {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: #5D5D5D;
        margin-bottom: 18px;
      }

      &_price {
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
        color: #F16D7F;
      }
    }
  }

  &_btn {
    width: fit-content;
    border: 1px solid #FF6A6A;
    padding: 14px 38px;
    margin-bottom: 95px;
    box-sizing: border-box;
    background-color: #FFFFFF;

    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
    text-transform: capitalize;
    text-decoration: none;

    &:hover {
      background-color: #F16D7F;
      color: #FFFFFF;
    }
  }
}

.features {
  padding: 104px 0;
  box-sizing: border-box;
  background-color: #222224;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  &_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 360px;
    &:hover {
      svg {
        transform: rotate(360deg);
      }
    }
    svg {
      transition: 1s;
    }

    &_title {
      font-weight: 400;
      font-size: 19.96px;
      line-height: 24px;
      text-align: center;
      color: #FBFBFB;
      margin: 28px 0 16px;
    }

    &_subtitle {
      font-weight: 300;
      font-size: 13.972px;
      line-height: 17px;
      text-align: center;
      color: #FBFBFB;
    }
  }
}

.footer {
  &_subscription {
    background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(../images/subscription.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 97px 0 126px;
    box-sizing: border-box;

    .container {
      display: flex;
      justify-content: space-between;
    }

    &_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .subscribe_info {
      &_txt {
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #222224;
        max-width: 360px;
        margin-top: 30px;

        span {
          font-style: italic;
        }
      }
    }

    .subscribing {
      margin-right: 80px;

      &_title {
        font-weight: 700;
        font-size: 24px;
        line-height: 40px;
        text-align: center;
        color: #222224;
        text-transform: uppercase;
      }

      &_subtitle {
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
        text-align: center;
        color: #222224;
        text-transform: uppercase;
      }

      &_form {
        display: flex;
        height: 49px;
        margin-top: 30px;

        &_email {
          background-color: #E1E1E1;
          border-radius: 22px 0 0 22px;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          display: flex;
          align-items: center;
          color: #222224;
          border: none;
          padding: 0 22px;
          box-sizing: border-box;
        }

        &_btn {
          background: #F16D7F;
          border-radius: 0 22px 22px 0;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          display: flex;
          align-items: center;
          text-align: center;
          color: #FFFFFF;
          border: none;
          padding: 0 22px;
          box-sizing: border-box;
        }
      }
    }
  }

  &_bottom {
    background-color: #222224;
    padding: 24px 0;
    box-sizing: border-box;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .copyright {
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #FBFBFB;
    }

    .socials {
      display: flex;
      gap: 8px;

      &_item {
        width: 32px;
        height: 32px;
        background-color: #FFFFFF;
        display: flex;
        align-items: center;
        justify-content: center;

        svg {
          fill: #000000;
          transition: 1s;
        }

        &:hover {
          background-color: #F16D7F;

          svg {
            fill: #FFFFFF;
            transform: rotate(360deg);
          }
        }
      }
    }
  }
}

.page_top {
  background: #F8F3F4;
  padding: 60px 0;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &_caption {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
    text-transform: uppercase;
  }
}

.breadcrumbs {
  list-style: none;

  li {
    display: inline;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #F16D7F;
    text-transform: uppercase;

    & + li:before {
      padding: 4px;
      color: #636363;
      content: "/\00a0";
    }

    a {
      font-weight: 300;
      color: #636363;
      text-decoration: none;

      &:hover {
        font-weight: 700;
      }
    }
  }
}

.filters {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%;
  .filter {
    min-width: 360px;
    padding: 13px 16px;
    background-color: #FFFFFF;
    position: relative;
    flex-grow: 1;
    &_btn {
      font-weight: 600;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      text-transform: uppercase;

      svg {
        margin-left: 11px;
        fill: #000000;
      }
      &_checkbox {
        display: none;
        &:checked ~ {
          .filter {
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            .filter_btn {
              color: #EF5B70;
              svg {
                fill: #EF5B70;
              }
            }
            .filter_options {
              display: block;
            }
          }
        }
      }
    }

    &_options {
      display: none;
      position: absolute;
      width: 100%;
      left: 0;
      box-sizing: border-box;
      padding: 16px 17px 0;
      z-index: 1;
      background-color: #FFFFFF;
      &_details {
        margin-bottom: 18px;
      }
      &_title {
        position: relative;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #EF5B70;
        text-transform: uppercase;
        list-style: none;
        border-bottom: 1px solid #EBEBEB;
        padding: 11px;
        cursor: pointer;
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          content: '';
          display: block;
          width: 5px;
          height: 100%;
          background-color: #F16D7F;
        }
        &:hover {
          font-weight: 700;
        }
      }
      &_subtitle {
        padding: 11px 16px 0 16px;
        font-weight: 400;
        font-size: 14px;
        line-height: 17px;
        color: #6F6E6E;
        text-transform: capitalize;
        cursor: pointer;
        &:hover {
          font-weight: 700;
        }
      }
    }
  }

  &_dropdown {
    display: flex;
    flex-grow: 2;
    &_item {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #6F6E6E;
      text-transform: uppercase;
      padding: 13px 0 13px 30px;
      position: relative;
      &_btn {
        svg {
          margin-left: 10px;
          fill: #6F6E6E;
        }
        &_checkbox {
          display: none;
          &:checked ~ {
            .filters_dropdown_item_options {
              display: flex;
              flex-direction: column;
            }
          }
        }
      }
      &_options {
        display: none;
        position: absolute;
        background-color: #FFFFFF;
        box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
        padding: 9px;
        z-index: 1;
        &_item {
          display: flex;
          font-weight: 400;
          font-size: 14px;
          line-height: 16px;
          color: #6F6E6E;

          &:before {
            content: '';
            display: block;
            width: 13px;
            height: 13px;
            border: 1px solid #EBEBEB;
            margin-right: 9px;
          }
        }
      }
      &_option {
        display: flex;
        margin-bottom: 9px;
        &:last-child {
          margin-bottom: 0;
        }
        input {
          display: none;
          &:checked ~ .filters_dropdown_item_options_item:before {
            background-image: url(https://w7.pngwing.com/pngs/289/793/png-transparent-check-mark-scalable-graphics-computer-icons-pink-check-mark-purple-angle-violet-thumbnail.png);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }
        }
      }
    }
  }
}

.pagination {
  display: inline-block;
  margin-bottom: 96px;
  border: 1px solid #EBEBEB;
  border-radius: 3px;

  a {
    color: #C4C4C4;
    float: left;
    padding: 12px;
    text-decoration: none;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;

    &:first-child, &:last-child {
      color: #000000;
    }

    &.active {
      color: #EF5B70;
    }

    &:hover:not(.active) {
      font-weight: 700;
    }
  }
}

.product {
  &_gallery {
    background-color: #F7F7F7;
    border: 1px solid #EAEAEA;
    height: 777px;
    .carousel-inner {
      .carousel-item {
        height: 724px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          margin: auto;
        }
        &.active {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }

    .carousel-control {
      width: 47px;
      height: 47px;
      background: rgba(42, 42, 42, 0.15);
      margin: auto;
      opacity: 1;
    }
  }

  &_card {
    padding: 65px 20px;
    background-color: #FFFFFF;
    border: 1px solid #EAEAEA;
    transform: translateY(-65px);

    &_content {
      max-width: 640px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &_subtitle {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #F16D7F;
      text-transform: uppercase;
      &:after {
        content: '';
        width: 64px;
        height: 3px;
        background: #EF5B70;
        margin: 12px auto;
        display: block;
      }
    }
    &_title {
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      color: #4D4D4D;
      text-transform: uppercase;
      margin-bottom: 48px;
    }
    &_description {
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      text-align: center;
      color: #5E5E5E;
      margin-bottom: 32px;
    }
    &_price {
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
      color: #EF5B70;
      margin-bottom: 64px;
    }
    hr {
      width: 100%;
      margin-bottom: 64px;
      border: 1px solid #EAEAEA;
    }
    &_btn {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 20px;
      border: 1px solid #FF6A6A;
      background-color: #FFFFFF;
      svg {
        fill: #EF5B70;
        margin-right: 20px;
      }
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      color: #F26376;
      margin-top: 48px;
      &:hover {
        background-color: #FF6A6A;
        border: 1px solid transparent;
        color: #FFFFFF;
        svg {
          fill: #FFFFFF;
        }
      }
    }
  }
}

.cart {
  display: flex;
  justify-content: space-between;
  gap: 128px;
  padding: 96px 0 128px;
  &_info {
    &_btns {
      display: flex;
      justify-content: space-between;
      margin-top: 72px;
    }
    &_btn {
      background-color: #FFFFFF;
      border: 1px solid #A4A4A4;
      padding: 16px 40px;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
      color: #000000;
      text-transform: uppercase;
      &:hover {
        background-color: #D2D2D2;
      }
    }
  }
  &_products {
    display: flex;
    flex-direction: column;
    gap: 40px;
    &_card {
      filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
      background-color: #FFFFFF;
      display: flex;
      img {
        object-fit: contain;
        width: 40%;
      }
      &_info {
        position: relative;
        width: 100%;
        padding: 22px 30px;
        &_delete {
          background-color: transparent;
          border: none;
          position: absolute;
          top: 28px;
          right: 22px;
          &:hover svg {
            fill: #F26376;
          }
        }
      }
      &_title {
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #222222;
        text-transform: uppercase;
        margin-bottom: 42px;
      }
      &_parameter {
        display: flex;
        font-weight: normal;
        font-size: 22px;
        line-height: 26px;
        color: #575757;
        text-transform: capitalize;
        span {
          margin-left: 8px;
        }
        .price {
          color: #EF5B70;
        }
        .value {
          color: #6F6E6E;
        }
        .input {
          width: 44px;
          margin-left: 24px;
          border: 1px solid #EAEAEA;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          color: #656565;
          text-align: center;
        }
      }
    }
  }
  &_order {
    &_total {
      display: flex;
      flex-direction: column;
      background-color: #F5F3F3;
      padding: 40px 44px;
      margin-top: 57px;
      &_sub {
        font-weight: 400;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
        text-transform: uppercase;
        align-self: flex-end;
      }
      &_grand {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;
        text-transform: uppercase;
        align-self: flex-end;
        .price {
          color: #F16D7F;
        }
      }
      .price {
        margin-right: 24px;
      }
      hr {
        border: 1px solid #E2E2E2;
      }
      &_btn {
        border: none;
        background-color: #F16D7F;
        padding: 15px 0;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        text-transform: uppercase;
        &:hover {
          background-color: #FFFFFF;
          border: 1px solid #F16D7F;
          color: #F16D7F;
        }
      }
    }
  }
}

.form {
  min-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  &_title {
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
    &.uppercase {
      text-transform: uppercase;
    }
  }

  input {
    border: 1px solid #A4A4A4;
    padding: 12px 16px;
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    text-transform: capitalize;
    &::placeholder {
      color: #222222;
    }
    &.registration {
      color: #222222;
      &::placeholder {
        color: #B1B1B1;
      }
    }
  }
  &_radios {
    display: flex;
    gap: 20px;
  }
  &_radio {
    &_input {
      display: none;
      &:checked ~ .form_radio_item:before {
        background-color: #F16D7F;
        border: 2px solid #FFFFFF;
      }
    }
    &_item {
      display: flex;
      align-items: center;
      gap: 10px;
      font-weight: 300;
      font-size: 11px;
      line-height: 13px;
      color: #000000;
      text-transform: capitalize;
      &:before {
        content: '';
        display: block;
        width: 17px;
        height: 17px;
        outline: 1px solid #A4A4A4;
        border-radius: 50%;
      }
    }
  }
  &_caption {
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    margin-top: -5px;
    margin-bottom: 19px;
  }
  &_button_light {
    width: fit-content;
    background-color: #FFFFFF;
    border: 1px solid #A4A4A4;
    padding: 10px 14px;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #4A4A4A;
    text-transform: uppercase;
    &:hover {
      background-color: #d2d2d2;
    }
  }

  &_button_color {
    display: flex;
    gap: 20px;
    align-items: center;
    width: fit-content;
    background-color: #F16D7F;
    padding: 16px 29px;
    border: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    text-transform: uppercase;
    svg {
      fill: #FFFFFF;
    }
    &:hover {
      background-color: #FFFFFF;
      border: 1px solid #F16D7F;
      color: #F16D7F;
      svg {
        fill: #F16D7F;
      }
    }
  }
}

.registration {
  display: flex;
  gap: 128px;
  padding: 64px 0 96px;
  &_info {
    &_title {
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
      text-transform: uppercase;
      margin-bottom: 22px;
    }
    &_description {
      font-weight: 300;
      font-size: 24px;
      line-height: 29px;
      color: #000000;
      margin-bottom: 21px;
    }
    &_list {
      padding: 0;
      &_item {
        display: flex;
        list-style: none;
        font-weight: 300;
        font-size: 24px;
        line-height: 29px;
        color: #000000;
        margin-bottom: 16px;
        &:before {
          display: block;
          margin-right: 22px;
          content: url(../images/check.svg);
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
    box-sizing: border-box;
  }
  .page_head {
    height: 74px;
    .container {
      padding: 0 32px;
    }
  }
  .brand {
    &_img {
      img {
        width: 100%;
      }
    }

    &_text {
      margin-left: 0;
    }

    &_title {
      font-size: 44px;
      line-height: 53px;
    }

    &_subtitle {
      font-size: 24px;
      line-height: 29px;
    }
  }
  .offer {
    gap: 19px;
    padding-top: 19px;
    &_item {
      max-width: 232px;
      &:last-child {
        max-width: none;
      }
    }
  }
  .products {
    padding-top: 154px;

    &_wrp {
      gap: 16px;
      padding: 72px 0 32px;

      &.product_page {
        padding: 129px 0 128px;
      }
    }

    &_item {
      max-width: calc((100% - 16px) / 2);

      &_text {
        padding: 25px 16px 20px;
      }
    }

    &_btn {
      margin-bottom: 64px;
    }
  }
  .features {
    padding: 48px 0 64px;

    .container {
      flex-direction: column;
      gap: 48px;
    }
  }

  .footer {
    &_subscription {
      padding: 64px 0 140px;
      background-position: 25%;

      .container {
        flex-direction: column;
      }

      .subscribe_info {
        margin-bottom: 48px;
      }

      .subscribing {
        margin-right: 0;
        &_form {
          margin-top: 27px;
        }
      }
    }
  }
}

@media (max-width: 375px) {
  .registration_icon, .cart_icon {
    display: none;
  }
  .page_head {
    .container {
      padding: 0 16px;
    }
  }
  .brand {
    .container {
      padding: 148px 0;
    }
    &_img {
      display: none;
    }
    &_title {
      font-size: 38px;
      line-height: 46px;
    }
    &_subtitle {
      font-size: 20px;
      line-height: 24px;
    }
  }
  .offer {
    gap: 32px;
    padding-top: 64px;

    &_item {
      max-width: none;
      &:last-child {
        flex-grow: 1;
      }
    }
  }
  .products {
    padding-top: 64px;

    &_wrp {
      gap: 15px;
      padding: 64px 0 40px;

      &.product_page {
        padding: 64px 0 64px;
      }
    }

    &_item {
      max-width: 100%;
    }

    &_btn {
      margin-bottom: 96px;
    }
  }
  .features {
    padding: 48px 0 81px;

    .container {
      flex-direction: column;
      gap: 46px;
    }
  }

  .footer {
    &_subscription {
      padding: 64px 0 109px;
      background-position: 30%;

      .subscribe_info {
        &_txt {
          font-size: 18px;
          line-height: 22px;
        }
      }

      .subscribing {
       &_subtitle {
          font-size: 14px;
          line-height: 21px;
        }

        &_form {
          height: 47px;
          margin-top: 22px;
        }
      }
    }

    &_bottom {
      padding: 43px 0 9px;

      .container {
        flex-direction: column-reverse;
      }

      .socials {
        margin-bottom: 40px;
      }
    }
  }
}
