* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Lato;
  font-style: normal;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

.p_head {
  position: sticky;
  top: 0;
  width: 100%;
  height: 75px;
  background-color: #222222;
  box-sizing: border-box;
  z-index: 2;
}
.p_head .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p_head_item {
  display: flex;
  align-items: center;
}
.p_head_item .logo {
  margin-right: 41px;
}
.p_head_item .search {
  display: flex;
  align-items: center;
}
.p_head_item .search_input {
  width: 0;
  min-height: 0;
  padding: 5px;
  outline: none;
  box-sizing: border-box;
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 16px;
  transition: width 1s ease;
}
.p_head_item .search_input:focus {
  width: 150px;
  min-height: 20px;
  height: 100%;
  border: 2px solid #fff;
  margin-right: 10px;
}
.p_head_item .search_label {
  cursor: pointer;
}
.p_head_item .search_label svg {
  fill: #E8E8E8;
}
.p_head_item .search_label svg:hover {
  fill: #6F6E6E;
}
.p_head_item .menu_list {
  position: absolute;
  top: 75px;
  right: 0;
  background: #FFFFFF;
  min-width: 230px;
  box-sizing: border-box;
  height: 0;
  opacity: 1;
  transition: 0.5s;
  transition-delay: 0.2s;
  overflow: hidden;
}
.p_head_item .menu_list .wrap {
  display: flex;
  flex-direction: column;
  padding: 16px 16px 16px 34px;
}
.p_head_item .menu_list_close {
  align-self: flex-end;
  cursor: pointer;
  fill: #6F6E6E;
}
.p_head_item .menu_list_close:hover {
  fill: #222222;
}
.p_head_item .menu_list_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  text-transform: uppercase;
  padding-bottom: 24px;
}
.p_head_item .menu_list_subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #F16D7F;
  text-transform: uppercase;
  padding-bottom: 12px;
  cursor: pointer;
  text-decoration: none;
}
.p_head_item .menu_list_subtitle:hover {
  font-weight: 700;
}
.p_head_item .menu_list_items {
  display: flex;
  flex-direction: column;
  padding: 0 0 10px 20px;
}
.p_head_item .menu_list_items_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-bottom: 10px;
  cursor: pointer;
  text-decoration: none;
}
.p_head_item .menu_list_items_text:hover {
  font-weight: 700;
}
.p_head_item .menu_btn {
  display: flex;
  padding: 0;
  margin: 0;
  width: 32px;
  height: 23px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.p_head_item .menu_btn_checkbox {
  display: none;
}
.p_head_item .menu_btn_checkbox:checked ~ .menu_list {
  height: 764px;
}
.p_head_item .menu_btn_item {
  margin: auto;
  display: block;
  width: 100%;
  height: 3px;
  background-color: #E8E8E8;
  position: relative;
}
.p_head_item .menu_btn_item::before, .p_head_item .menu_btn_item::after {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #E8E8E8;
  position: absolute;
  left: 0;
}
.p_head_item .menu_btn_item::before {
  top: -10px;
}
.p_head_item .menu_btn_item::after {
  top: 10px;
}
.p_head_item .menu_btn:hover .menu_btn_item {
  background-color: #6F6E6E;
}
.p_head_item .menu_btn:hover .menu_btn_item::before,
.p_head_item .menu_btn:hover .menu_btn_item::after {
  background-color: #6F6E6E;
}
.p_head_item .menu_item {
  cursor: pointer;
  margin-left: 33px;
  fill: #E8E8E8;
}
.p_head_item .menu_item:hover {
  fill: #6F6E6E;
}

.brand {
  background-color: #F1E4E6;
}
.brand .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.brand_img {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
.brand_text {
  position: relative;
  width: 50%;
  margin-left: 90px;
  text-transform: uppercase;
  color: #222222;
}
.brand_text:before {
  position: absolute;
  top: 0;
  left: -28px;
  content: "";
  display: block;
  width: 12px;
  height: 100%;
  background-color: #F16D7F;
}
.brand_title {
  font-size: 48px;
  font-weight: 900;
  line-height: 58px;
}
.brand_subtitle {
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
}
.brand_subtitle_red {
  color: #F16D7F;
}

.offer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  padding-top: 65px;
}
.offer_item {
  position: relative;
  background-color: rgba(33, 22, 22, 0.7);
  flex-grow: 1;
}
.offer_item:last-child {
  flex-grow: 3;
}
.offer_item_img {
  position: relative;
  z-index: -1;
  width: 100%;
}
.offer_item_text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase;
}
.offer_item_text_top {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}
.offer_item_text_bottom {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
}

.products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 96px;
}
.products_title {
  font-weight: 400;
  text-align: center;
}
.products_title h1 {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
  text-transform: capitalize;
}
.products_title span {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
}
.products_wrp {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
  padding: 48px 0;
}
.products_item {
  max-width: calc((100% - 60px) / 3);
  background-color: #F8F8F8;
  text-decoration: none;
}
.products_item img {
  width: 100%;
}
.products_item_img {
  position: relative;
}
.products_item_add {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: fit-content;
  align-items: center;
  padding: 10px 13px;
  box-sizing: border-box;
  background-color: transparent;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
}
.products_item_add svg {
  margin-right: 10px;
}
.products_item:hover img {
  filter: brightness(30%);
}
.products_item:hover .products_item_add {
  display: flex;
  z-index: 1;
}
.products_item_text {
  padding: 25px 18px 20px;
  text-align: left;
  box-sizing: border-box;
}
.products_item_text_title {
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 13px;
}
.products_item_text_description {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  margin-bottom: 18px;
}
.products_item_text_price {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}
.products_btn {
  width: fit-content;
  border: 1px solid #FF6A6A;
  padding: 14px 38px;
  margin-bottom: 95px;
  box-sizing: border-box;
  background-color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #F26376;
  text-transform: capitalize;
  text-decoration: none;
}
.products_btn:hover {
  background-color: #F16D7F;
  color: #FFFFFF;
}

.features {
  padding: 104px 0;
  box-sizing: border-box;
  background-color: #222224;
}
.features .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
}
.features_item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 360px;
}
.features_item_title {
  font-weight: 400;
  font-size: 19.96px;
  line-height: 24px;
  text-align: center;
  color: #FBFBFB;
  margin: 28px 0 16px;
}
.features_item_subtitle {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.footer_subscription {
  background-image: linear-gradient(rgba(244, 244, 244, 0.7), rgba(244, 244, 244, 0.7)), url(images/subscription.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 97px 0 126px;
  box-sizing: border-box;
}
.footer_subscription .container {
  display: flex;
  justify-content: space-between;
}
.footer_subscription_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.footer_subscription .subscribe_info_txt {
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  max-width: 360px;
  margin-top: 30px;
}
.footer_subscription .subscribe_info_txt span {
  font-style: italic;
}
.footer_subscription .subscribing {
  margin-right: 80px;
}
.footer_subscription .subscribing_title {
  font-weight: 700;
  font-size: 24px;
  line-height: 40px;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
}
.footer_subscription .subscribing_subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #222224;
  text-transform: uppercase;
}
.footer_subscription .subscribing_form {
  display: flex;
  height: 49px;
  margin-top: 30px;
}
.footer_subscription .subscribing_form_email {
  background-color: #E1E1E1;
  border-radius: 22px 0 0 22px;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  color: #222224;
  opacity: 0.67;
  border: none;
  padding: 0 22px;
  box-sizing: border-box;
}
.footer_subscription .subscribing_form_btn {
  background: #F16D7F;
  border-radius: 0 22px 22px 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  border: none;
  padding: 0 22px;
  box-sizing: border-box;
}
.footer_bottom {
  background-color: #222224;
  padding: 24px 0;
  box-sizing: border-box;
}
.footer_bottom .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_bottom .copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}
.footer_bottom .socials {
  display: flex;
  gap: 8px;
}
.footer_bottom .socials_item {
  width: 32px;
  height: 32px;
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer_bottom .socials_item svg {
  fill: #000000;
}
.footer_bottom .socials_item:hover {
  background-color: #F16D7F;
}
.footer_bottom .socials_item:hover svg {
  fill: #FFFFFF;
}

.p_top {
  background: #F8F3F4;
  padding: 60px 0;
}
.p_top .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.p_top_caption {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase;
}

/*# sourceMappingURL=styles.css.map */
